<!DOCTYPE html>
<html>

<head>
  <title>Calculo Numerico</title>
  <meta charset="UTF-8" />
  <meta name="description" content="Calculo Numerico | Bissecção" />
  <meta lang="pt-BR" />
  <link href="../static/css/style.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap"
    rel="stylesheet" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>

<body>
  <h1>Cálculo Númerico</h1>
  <div id="dados">
    <h2>Eliminação de Gauss</h2>
    <form action="/solution" method="get" id="form-values">
      <input type="number" min="2" max="10" placeholder="Mín.: 2 | Máx.: 10" id="qtd" name="qtd" class="qtd" />
      <table id="table" border="1"></table>
      <input class="button" styles="width: 100%;" type="submit" value="Calcular">
      <!-- <button id="btnTeste" class="button" type="button">Calcular</button> -->
      <div id="tipo">
      <input type="radio" name="tipo" value="gauss"> Gauss
      <input type="radio" name="tipo" value="seidel"> Seidel
      </div>
    </form>

  </div>
  <div class="alunos">Jeferson Shimoda<br />Leandro Negrão</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
    src="https://raw.githubusercontent.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.js"></script>

  <script>
    // $("#qtd").on("change", function (e) {

    let input = document.querySelector('#qtd');

    input.oninput = handleInput;

    function handleInput(e) {
      var qtd = parseInt($(this).val());
      if (qtd < 2 || qtd > 10) {
        $(this).val("");
        $("#table").html("");
        return;
      }
      criarTabela(qtd);
    }

    function criarTabela(qtd) {
      var html = ``;
      for (let linha = 1; linha <= qtd; linha++) {
        html += `<tr>`;
        for (let coluna = 1; coluna <= qtd + 1; coluna++) {
          let name = `a${linha}${coluna}`;
          if (coluna == qtd + 1) {
            name = `b${linha}`;
          }
          html += `<td><input name="${name}" placeholder="${name}"/></td>`;
        }
        html += `</tr>`;
      }
      $("#table").html(html);
    }
  </script>
  <script>
    function formToJson() {
      var formElement = document.getElementsByTagName("form")[0],
        inputElements = formElement.getElementsByTagName("input"),
        jsonObject = {};
      jsonObject["qtd"] = document.getElementById("qtd").value;

      for (var i = 0; i < inputElements.length; i++) {
        var inputElement = inputElements[i];
        jsonObject[inputElement.name] = inputElement.value;

      }
      return JSON.stringify(jsonObject);
    }
    $('#btnTeste').click(function () {
      $.ajax({
        url: '/calcular',
        data: formToJson(),
        type: 'POST',
        contentType: 'application/json',
        success: function (response) {
          console.log(response.data);
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
  </script>
</body>

</html>