<!DOCTYPE html>
<html>

<head>
    <title>Calculo Numerico</title>
    <meta charset="UTF-8">
    <meta name="description" content="Calculo Numerico | Bissecção">
    <meta lang="pt-BR">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>

<body>
    <h1>Metódo Direto</h1>
    <div id="dados">
        <h2>Resultado</h2>
        <!-- <h3>{{resultado}}</h3> -->
        <p>
            Matriz Inicial:
            \begin{pmatrix} {{original}}\end{pmatrix}
            {% for e in passos %}
            \[{{e}}\]
            {% endfor %}
            Matriz Resultado:
            \begin{pmatrix} {{final}}\end{pmatrix}
            Matriz Identidade:
            \begin{pmatrix} {{identidade}}\end{pmatrix}
        </p>
    </div>
    <a class="button" href="/" role="button">Novo Calculo</a>
    <!-- <button class="button" href="/" oninput="ref()">Novo Calculo</button> -->
</body>

</html>